html {
  scroll-behavior: smooth;
}
body{
	color:#666;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
}
body.locked{
	overflow-y: hidden;
}
p{
	color:#666;
}
p:empty{
	display: none;
}
ul{
	padding-left:0;
}
[type="text"],
[type="number"],
[type="date"],
[type="email"],
[type="tel"],
select,
textarea{
	border-radius: 0 !important;
	border:1px solid #cccccc;
	padding:12px 15px !important;
	outline-color: #623395 !important;
}
#page{
	height:100%;
}

/*BUTTONS*/
.btn,button,[type="submit"]{
	background-color:#378ed0;
	color:white !important;
	display: table;
	padding:15px 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
/*HEADER*/
#masthead{
	padding:10px 0;
}
#primary-menu li{
	display:block;
	float:none;
}
#primary-menu li>a{
	border-bottom:1px solid #ededed;
	color:#333;
	display:block;
	font-size:18px;
	font-weight:600;
	padding:15px;
	text-transform:uppercase;
}
@media (min-width:768px){
	#primary-menu li>a{
		border-bottom:0;
		padding:0;
	}
}
.site-branding{
	display:table;
	margin:auto;
	max-width:130px;
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 0 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #623395;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
 * Spin Reverse
 */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin-r .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin-r .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

.locked #site-navigation{
	overflow-y: auto;
}
.flex{
	display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content:center;
}

/*FOOTER*/
.site-footer{
	background-color:#313131;
	color:#999999;
	
	line-height:1;
	padding:30px 0;	
}
.site-footer .custom-logo-link img{
	max-width:150px;
}
.footer-menu{
	list-style:none;
	margin:0 0 20px 0;
	padding:0;
}
.footer-menu li{
	display:block;
	padding:10px 0;
	text-align: center;
}
.footer-menu li>a{
	color:#999999;
	padding:10px 0;
	text-transform:uppercase;
}
.socialNcopy{
	margin-bottom:15px;
	text-align: center;
}
.socialNcopy>a{
	background-color:#999;
	border-radius:50%;
	color:#313131;
	display:inline-block;
	font-size:20px;
	margin:0 2px;
	vertical-align:middle;
	text-align:center;
	line-height:30px;
	height:30px;
	width:30px;
}
.socialNcopy p{
	margin-bottom:0;
	padding:10px 0;
	text-transform:uppercase;
}
.custom-logo-link{
	display: table;
	margin:0 auto 15px auto;
}
.paddedContent{
	padding:30px 0;
}
.borderedTop{
	border-top:1px solid #ededed;
}
/*PAGES*/
.post-thumbnail img{
	max-width:100%;
}
/*HOMEPAGE*/
.home .post-thumbnail img{
	width:100%;
}
.lead{
	color:#378ed0;
	text-transform: uppercase
}
.home .entry-content{
		margin:0;
	}
	.afterHero{
		 background-image: -moz-linear-gradient( 0deg, rgb(43,167,223) 0%, rgb(69,113,189) 11%, rgb(102,45,145) 87%, rgb(102,45,145) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(43,167,223) 0%, rgb(69,113,189) 11%, rgb(102,45,145) 87%, rgb(102,45,145) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(43,167,223) 0%, rgb(69,113,189) 11%, rgb(102,45,145) 87%, rgb(102,45,145) 100%);
    color: white;
    display: table;
    text-align: center;
    width: 100%;
	}
	.afterHeroCell{
		display:table-cell;
		vertical-align:middle;
	}
	.afterHeroCell h2{
		font-size:3.5vw;
		font-weight:bold;
		margin:0;
		padding:0;
	}
.featuredPrograms a{
	text-decoration: none;
}
.featuredPrograms figure{
	margin-bottom:15px;
}
.featuredPrograms h4{
	color: #378ed0;
    font-size: 14px;
    margin-top:0;
    text-transform: uppercase;
}
.coursePar h2{
	color:#378ed0;
	font-size:20px;
	text-transform: uppercase;
	text-align: center;
}
.coursePar a{
	text-decoration: none;
}
.coursePar h4{
	color:#378ed0;
	font-size:14px;
	text-transform: uppercase;
}
.coursePar h4>a{
	color:#378ed0;
	text-decoration: none;
}
.col-sm-5th{
	padding-left:15px;
	padding-right:15px;
}
.btnContainer{
	padding-top:30px;
}
.btnContainer .btn{
	margin:auto;
}
.trainingClass a{
	height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
	text-decoration: none;
}
.trainingClass figure{
	position: relative;
	overflow:hidden;
	height:150px;
}
.trainingClass figure>img{
	width:100%;
}
.trainingClass h2{
	color:#378ed0;
	font-size:20px;
	text-transform: uppercase;
	text-align: center;
}
.trainingCards .row{
	display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content:center;
}
.trainingCards .row>.col-sm-4{
	float:none;
	min-height:200px;
	padding:15px;
	width:100%;
}
.trainingCards .row>.col-sm-4>div{
	background-color:#378ed0;
	color:white;
	padding:20px 15px;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.trainingCards .row>.col-sm-4>div.leftType{
	text-align: left;
}
.trainingCards h3,.trainingCards h4,.trainingCards p{
	color: white;
}
.trainingCards h4{
	margin-bottom:0;
}
.trainingCards .col-sm-4>div p{
	max-height:0;
	-webkit-transition:max-height 0.5s ease-in-out;
	-moz-transition:max-height 0.5s ease-in-out;
	transition:max-height 0.5s ease-in-out;
	overflow:hidden;
	margin-bottom:0;
}
.trainingCards .col-sm-4>div:hover p{
	max-height:200px;
}
/*TRAINING PAGE*/
#trainingTypes h2{
	color:#378ed0;
	font-size:20px;
	text-transform: uppercase;
	text-align: center;
}
#trainingTypes h3{
	background-color:#378ed0;
	color: white;
	font-size:18px;
	font-weight: 600 !important;
	min-height: 50px;
  	padding:15px;
  	text-align: center;
}
#trainingTypes li{
	margin-bottom:15px;
}
#trainingTypes .ctaWrap{
	padding:15px 0;
	text-align:center;
}
#trainingTypes .ctaWrap a{
	color:black !Important;
	font-weight:700;
	text-transform:uppercase;
}
#trainingInq .modal-header{
	position:relative;
}
#trainingInq .modal-header .close{
	color: black !important;
    opacity: 1;
	position:absolute;
	right: 15px;
    top: 35
}
#trainingInq .modal-title,#trainingInq .modal-title+p{
	color: #378ed0;
	text-align:center;
	text-transform:uppercase;
}
#trainingInq .row{
	padding-bottom:10px;
}
#trainingInq  label{
	font-weight:700;
	text-transform:uppercase;
}
#trainingInq   small{
	display:block;
}
#trainingInq input,#trainingInq select{
	width:100%;
}
/*COURSES PAGE*/
#courses h2{
	color: #378ed0;
    font-size: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center
}
#courses h3{
	color: #378ed0;
    font-size: 14px;
    text-transform: uppercase;
}
#courses ul{
	margin-left:18px;
	margin-bottom:15px;
	padding-left:0;
}
#courses li{
	cursor:pointer;
}
#courses li:hover{
	text-decoration:underline;
}
/*ABOUT PAGE*/
#post-25 .post-thumbnail,/*LIVE*/
#post-66 .post-thumbnail{/*LOcal*/
	background-color:#f4f4f4;
	text-align: center;
}
#post-66 .post-thumbnail img{
	width:auto;
}
#post-25 h2,
#post-25 h3,
#post-66 h2,
#post-66 h3{
	color:#378ed0;
	font-size:20px;
	text-transform: uppercase;
	text-align: center;
}
#post-25 [class^="col-sm"],
#post-66 [class^="col-sm"]{
	text-align: center;
}
.aboutMission img,
.aboutVission img,
.mission-vission img{
	margin-bottom:15px;
}
.mission-vision{
	text-align:center;
}
.mission-vision img{
	width:100%;
}
.temp-col{
	margin:auto;
	max-width:320px;
	padding:0 15px 15px 15px;
}
@media(min-width:768px){
	.temp-col{
	  display:inline-block;
		padding:0 15px;
 	  vertical-align:top;
	}
}

/*CONTACT PAGE*/
#contactUs h2{
	color: #378ed0;
    font-size: 20px;
    text-transform: uppercase;
}
#contactUs label{
	font-size:20px;
	text-transform: uppercase;
}
#contactUs label>sup{
	color:red;
}
#contactUs [type="text"],
#contactUs [type="number"],
#contactUs select,
#contactUs textarea{
	width:100%;
}
#contactUs .wpcf7-form>.row{
	padding-bottom:15px;
}
#contactUs address p{
	font-weight: 600;
	text-transform: uppercase;
}
span.wpcf7-list-item{
	display: block;
	margin:0 0 2px 0;
}
span.wpcf7-list-item label{
	cursor: pointer;
	font-weight: 700;
	font-size:15px !important;
	margin-bottom:0;
	text-transform: capitalize !important;
}
.wpcf7-mail-sent-ok{
	color:green;
	font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin: auto !Important;
    max-width: 1170px;
    padding: 15px !important;
    text-align: center;
}
.wpcf7-validation-errors{
	color:red;
	font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin: auto !Important;
    max-width: 1170px;
    padding: 15px !important;
    text-align: center;
}
.page-id-33 .wpcf7-validation-errors{
	font-size:18px;
	text-align:left;
}
.screen-reader-response{
	display:none !important;
}
/*CONTACT FORM 7*/
.wpcf7-not-valid-tip{
	color:red;
	font-size:11px;
	font-style:italic;
	font-weight:bold;
}
/*MEDIA QUERY*/
@media (max-width:767px){
	.home .featuredPrograms .col-xs-6 {
			float: none;
			display: inline-block;
			vertical-align: top;
			margin: 0 -2px;
	}
	#contactUs .container>.row{
		margin:0 !important;
	}
	#contactUs .col-sm-6{
		padding-bottom:15px;
	}
}
@media (min-width:768px){
	#content{
		min-height: 69.3%;
	}
	 #site-navigation .menu-menu-1-container{
		 float:right;
	 }
	#primary-menu li{
		display:inline-block;
	}
	#primary-menu li+li{
		margin-left:18px;
	}
	.site-branding{
			float:left;
			max-width:300px;
   }
	.site-footer .col-sm-8{
		text-align:right;
  } 
	.socialNcopy{
		display:inline-block;
		vertical-align:middle;
	}
	.socialNcopy p{
		display:inline-block;
		margin-left:15px;
	}
	.col-sm-5th{
		float:left;
		width:50%;
	}

	/*FOOTER*/
	.footer-menu li{
		display: inline-block;
		text-align: inherit;
	}
	.footer-menu li>a{
		padding:0;
	}
	.footer-menu li+li{
		margin-left:15px;
	}
	.custom-logo-link{
		margin:0;
	}
	.socialNcopy{
		text-align: inherit;
	}
	.socialNcopy p{
		padding:0;
	}

	.post-thumbnail img{
		width:100%;
	}
	/*HOMEPAGE*/
	.afterHeroCell h2{
		font-size:38px;
	}
	.trainingCards .row>.col-sm-4{
		padding:0 15px;
		width:33.333333%;
	}
	/*ABOUT PAGE*/
	#post-66 [class^="col-sm"]{
		text-align: left;
	}
	/*MODAL*/
	#trainingInq .row{
		display:table;
		width:100%;
	}
	#trainingInq .row>.col-sm-6{
		float:none;
		display:table-cell;
		vertical-align:middle;
	}
	#trainingInq label{
		margin-bottom:0;
	}
}
@media (min-width:768px) and (max-width:991px){
	.site-branding{
		max-width:220px;
	}
	.main-navigation ul{
		line-height:61px;
	}
}
@media (min-width:992px){
	.afterHeroCell h2{
		max-width:720px;
		margin:auto;
	}
	.col-sm-5th{
		float:left;
		width:20%;
	}
}
